
.img-hero{
    width: 100%;
    height: 400px;
    background: url(../img/banner1.jpg)no-repeat;
    background-size: cover;
}
.hero h2{
    margin:  0px;
    padding: 24px 88px;
    color: var(--text-primary-graphite-color);
    font-weight: var(--text-weight);
    font-size: 20px;
    text-align: center;
    line-height: 1.5;

}

@media screen and ( min-width: 768px){
    .img-hero{
        height: 620px;
        background: url(/img/hero_tablet\ .jpg)no-repeat;
        background-size: cover;
        
    }
    .hero h2{
        padding: 88px 60px;
        margin: 0;
        
        
    }

}

@media screen and ( min-width: 1024px){
    .img-hero{
        background: url(/img/hero_desktop.jpg)no-repeat;
        background-size: cover;
        
 
    }

    .hero h2{
        padding: 88px 120px;

    }
    

}

@media screen and ( min-width: 1920px){
    
    .hero h2{
        padding: 88px 160px;

    }
    

}