
.container_offers{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:24px;
    
}
.section_card{
    color: var(--text-secundary-white-color);
    width: 312px;
    height: 288px;
    box-sizing: border-box;
    padding: 24px 16px;
    border-radius: 16px;
    background-color: black;
    text-align: center;
}

.section_card header{
    
    display: block;
    position: static;
    padding: 0;
   margin-bottom: 24px;
   background: transparent;

}
.section_card header p{
    font-size: 20px;
    font-weight: var(--text-weight);
    
}

.section_card header h3 {
    font-size: 40px;
    font-weight: var(--title-weight);
    margin: 8px 0 0 ;
}
.section_card header span{
    font-size: 32px;
    margin-top: 24px;
    display: inline-block;
}

.japao{
    background: url(/img/Card\ promos.png)no-repeat;
    background-size: cover;

}

.san_andreas{
    background: url(/img/Card_sanandreas.png)no-repeat;
    background-size: cover;
}
.paraiba{
    background: url(/img/Card_paraiba.png)no-repeat;
    background-size: cover;
}
.manaus{
    background: url(/img/Card_manaus.png)no-repeat;
    background-size: cover;
}

@media screen  and (min-width: 1024px){
    .card{
        width: 588px;
        height: 308px;

    }
    .section_card header h3 {
    font-size: 48px;
}
    .section_card header span{
    font-size: 40px;
    
}
    
}
 @media screen and (min-width: 768px) {

    .container_offers{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
 }   
